[% META
   title   = 'Regeln'
%]

	<header class="title">1. Altersbeschr&auml;nkung</header>
	<div class="info">
		<p>Ernstchan richtet sich an Personen, die <strong>mindestens 18 Jahre alt</strong> sind. Minderj&auml;hrige haben hier nichts veloren.</p>
	</div>

	<header class="title">2. Uploads</header>
	<div class="info">
		<p><strong>S&auml;mtliche Dateien, die gegen das geltende Recht versto&szlig;en, d&uuml;rfen nicht hochgeladen werden!</strong></p>
	</div>